/*=========================================
  GOOGLE FONT
=========================================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/*=========================================
  CSS VARIABLES
=========================================*/
:root {

    /* Colors */
    --primary:#8B5CF6;
    --primary-dark:#6D28D9;
    --secondary:#06B6D4;

    --bg:#0B1120;
    --surface:#111827;

    --white:#ffffff;
    --text:#E5E7EB;
    --text-light:#94A3B8;

    --border:rgba(255,255,255,.08);

    /* Shadow */

    --shadow:0 10px 40px rgba(0,0,0,.25);

    /* Radius */

    --radius:18px;

    /* Transition */

    --transition:.35s ease;

    /* Container */

    --container:1200px;
}


/*=========================================
  RESET
=========================================*/
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html {
    scroll-behavior:smooth;
}

body{
    
    font-family:"Poppins",sans-serif;

    background:var(--bg);

    color:var(--text);

    overflow-x:hidden;
}

img{
    display:block;
    width:100%;
}

ul{
    list-style:none;
}

a{
    text-decoration:none;
    color:inherit;
}

button{
    border:none;
    outline:none;
    background:none;
    cursor:pointer;
}

.container{
    width:min(90%,var(--container));
    margin:auto;
}


/*=========================================
  BUTTONS
=========================================*/

.btn{
    display:inline-flex;
    align-items:center;
    gap:10px;
    padding:14px 28px;border-radius:12px;
    font-weight:600;
    transition:var(--transition);

}

.btn-primary{
    background:var(--primary);
    color:var(--white);
}

.btn-primary:hover{
    background:var(--primary-dark);
    transform:translateY(-3px);
}

.btn-outline{
    border:1px solid var(--border);
}
.btn-outline:hover{
    background:rgba(255,255,255,.05);
}


/*=========================================
  HEADER
=========================================*/
.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:1000;
    backdrop-filter:blur(10px);
    background:rgba(11,17,32,.70);
    border-bottom:1px solid var(--border);
}

.navbar{
    height:80px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.logo{
    font-size:1.5rem;
    font-weight:700;
}

.logo span{
    color:var(--primary);
}

.nav-menu{
    display:flex;
    gap:35px;
}

.nav-link{
    transition:var(--transition);
}

.nav-link:hover,
.nav-link.active{
    color:var(--primary);
}

.nav-right{
    display:flex;
    align-items:center;
    gap:20px;
}

.menu-btn{
    display:none;
    color:var(--text-light);
}


/*=========================================
 HERO SECTION
=========================================*/

.hero{
    min-height:100vh;
    display:flex;
    align-items:center;
    padding-top:120px;
    position:relative;
}

.hero::before{
    content:"";
    position:absolute;
    top: 120px;;
    right: 120px;;
    width:450px;
    height:450px;
    background:var(--primary);
    filter:blur(180px);
    opacity:.15;
}

.hero-container{
    display:grid;
    grid-template-columns:1fr 1fr;
    align-items:center;
    gap: 80px;

}

.hero-badge{
    display:inline-flex;
    align-items:center;
    gap:10px;
    padding:10px 18px;
    border-radius:1px solid var(--border);
    border-radius:999px;
    margin-bottom: 25px;
    background:rgba(255,255,255,.03);
}

.dot{
    width:10px;
    height:10px;
    border-radius:50%;
    background:springgreen;
}

.hero-title{
    font-size: 64px;
    line-height: 1.15;
    margin-bottom: 25px;
}

.gradient-text{
    background:linear-gradient(90deg,var(--primary),var(--secondary));
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

.hero-description{
    color: var(--text-light);
    line-height: 1.8;
    margin-bottom: 35px;
    max-width: 600px;
}

.hero-buttons{
    display:flex;
    margin-bottom:45px;
    gap:18px;
}

.hero-stats{
    display:flex;
    gap:35px;
}

.stat-box h3{
    font-size: 2rem;
    color:var(--white);
}

.stat-box span{
    color:var(--text-light);
}


/*=========================================
 HERO IMAGE
=========================================*/
.hero-image{
    display:flex;
    justify-content:center;
}

.hero-image-wrapper{
    position:relative;
    width:480px;
    height:560px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.hero-glow{

    position:absolute;

    width:420px;

    height:420px;

    background:#8B5CF6;

    border-radius:50%;

    filter:blur(130px);

    opacity:.25;

    z-index:-2;
}


.hero-image img{

    width:360px;
    
    border-radius:28px;

    border:1px solid rgba(255,255,255,.08);

    box-shadow:0 30px 80px rgba(0,0,0,.45);

    position:relative;

    /* z-index:2; */

}


/*=========================================
 FLOATING CARDS
=========================================*/


.floating-card{

    position:absolute;

    display:flex;

    align-items:center;

    gap:15px;

    background:rgba(255,255,255,.06);

    backdrop-filter:blur(18px);

    border:1px solid rgba(255,255,255,.08);

    padding:18px 20px;

    border-radius:18px;

    min-width:220px;

    box-shadow:0 15px 35px rgba(0,0,0,.25);

}

.floating-card i{

    width:55px;

    height:55px;

    border-radius:14px;

    background:#8B5CF6;

    display:grid;

    place-items:center;

    color:#fff;

    font-size:1.2rem;

}


.floating-card h4{

    font-size:1rem;

    margin-bottom:4px;

}

.floating-card span{

    color:#94A3B8;

    font-size:.85rem;

}


/* Card Positions */

.card-1{

    top:40px;

    left:-40px;

}

.card-2{

    bottom:50px;

    right:-30px;

}

.card-3{

    top:220px;

    right:-80px;

}


/*=========================================
 IMAGE HOVER
=========================================*/

.hero-image img{

    transition:.5s;

}

.hero-image img:hover{

    transform:translateY(-10px);

}

/*=========================================
 FLOAT ANIMATION
=========================================*/

@keyframes float{

    0%{

        transform:translateY(0px);

    }

    50%{

        transform:translateY(-15px);

    }

    100%{

        transform:translateY(0px);

    }

}

.card-1{

    animation:float 4s ease-in-out infinite;

}

.card-2{

    animation:float 5s ease-in-out infinite;

}

.card-3{

    animation:float 6s ease-in-out infinite;

}